.admin-container {
    background: #F7F9FB;
}

.admin-container > div:first-child {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 20px 15px 20px;
}

.admin-container > div:first-child > div:last-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #1A1A1A;
    text-align: center;
    margin-right: 1rem; /*Make headerText appear more centered*/
}

.admin-container > div:last-child {
    display: grid;
    place-items: center center;
    height: 100%;
}

.admin-container > div:last-child > span {
    display: inline-block;
    border: 1px solid #BCBDBC;
    width: 95%; 
    text-align: center;
    margin-bottom: 1rem;
}

.admin-filter-sort-btn.admin-header {
    background: #F7F9FB;
    border: 1px solid #BCBDBC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1A1A1A;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.admin-filter-sort-btn.admin-header > div:nth-child(2) {
    font-size: 14px !important;
}

@media (min-width: 420px) {
    .admin-container {
        padding-top: 1rem;
    }
}

@media (min-width: 620px) and (max-width: 980px) {
    .admin-filter-sort-btn-container.admin-header {
        margin-left: 0;
        justify-content: center;
    }
}

@media (min-width: 980px) {
    .admin-container > div:first-child > svg:first-child {
        display: none;
    }
    .admin-filter-sort-btn-container.admin-header {
        justify-content: flex-end;
        width: 95%;
    }
}