.admin-container {
    background: #F7F9FB;
}

.admin-container > div:first-child {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 20px 15px 20px;
}

.admin-container > div:first-child > div:last-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #1A1A1A;
    text-align: center;
}

.admin-container > div:last-child {
    display: grid;
    place-items: center center;
    height: 100%;
}

.admin-container > div:last-child > span {
    display: inline-block;
    border: 1px solid #BCBDBC;
    width: 95%; 
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 420px) {
    .admin-container {
        padding-top: 1rem;
    }
}