@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body, h1 {
    margin: 0;
    padding: 0;
}

.password-reset-container {
}

.header-wrapper {
    background: #637748;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    height: 78px;
}

.header-wrapper > h1 {
    font-family: 'Be Vietnam Pro';
    font-weight: 200;
    font-size: 24px;
    color: #FAFAFA;
}

.header-wrapper > img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 55px;
    height: 55px;
}

.password-reset-content-container {
    text-align: center;
    background: #C2C5A2;
    font-family: 'Roboto';
    padding-top: 24px;
    padding-bottom: 12px;
    min-height: 50vh;
    padding: 24px 12px 12px 12px;
}

.password-reset-content-container > p {
    padding: 12px 24px;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 20px;
}

.password-reset-content-container > a {
    color: #fff;
    background: #456649;
    border-radius: 8px;
    text-decoration: none;
    word-wrap: break-word;
    padding: 4px;
    margin: 4px;
}

.password-reset-content-container > a:hover {
    cursor: pointer;
    background: #637748;
}

/** footer */
.footer {
    background: #456649;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 4rem;
}

.footer-links-wrapper {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links-wrapper div:hover {
    cursor: pointer;
}

.footer-social-media-wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-social-media-wrapper img {
    width: 40px;
    transition: all 0.2s ease-in-out;
}

.footer-social-media-wrapper img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.footer-copyright {
    margin-top: 2rem;
    color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
}

@media (min-width: 980px) {
    .footer {
        padding-bottom: 2rem;
    };
}