.checkout-header-container {
    display: flex;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    height: 50px;
}

.checkout-header-container div {
    margin: auto 0.5rem; 
}

.checkout-header-links {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
}

.checkout-header-links button {
	border: none;
	font: inherit;
    font-weight: 300;
    color: black;
    padding: 0;
    margin: 0.2rem;
    background: none;
}

.checkout-header-links button:hover {
    cursor: pointer;
    color: #D9D9D9;
}

.checkout-header-container svg {
    margin: 0 auto;
}

.checkout-checkout-container-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1; 
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #00756A;
}

/* newest css */
.shipping-details-form {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.shipping-details-form div:first-child div {
    padding-left: 0.5rem;
}

.shipping-details-form div:first-child div:first-child {
    padding-top: 0.5rem;
}

.shipping-details-form div:first-child div:last-child {
    padding-bottom: 1.5rem;
    padding-left: 0.75rem;
    font-size: 12px;
    width: 8rem;
}

.shipping-details-form div:first-child div:last-child:hover {
    color: #D9D9D9;
    cursor: pointer;
}

.shipping-address-label {
    padding: 1rem 0 1.5rem 0.5rem;
}

.checkout-checkout-container-container button {
    width: 80%;
    height: 50px;
    background: #F1F1F1;
    border: 1px solid #9F9F9F;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    transition: background-color 250ms;
    margin-bottom: 3rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-checkout-container-container button:hover {
    cursor: pointer;
    background: #e0e0e0;
}

/* added css */
.selected-checkout-link {
    font-weight: 700 !important;
}

.checkout-shipping-container {
    background: #ffffff;
    margin: 1rem auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.checkout-contact-info-links {
    font-family: 'Futura';
    font-style: normal;
    padding: 0.5rem 1rem;
}

.checkout-contact-info-links > div {
  margin-bottom: 8px;
}

.checkout-contact-info-links > div:first-child {
  text-align: left;
  font-weight: 700;
}

.checkout-contact-info-links > div:last-child {
  display: flex;
  justify-content: space-between;
}

.checkout-contact-info-links > div:last-child > div {
  text-align: left;
  text-decoration: none;
}

.checkout-contact-info-links > div:last-child > div:first-child {
   /* width: 50%; */
}

.checkout-contact-info-links > div:last-child > div:last-child {
    padding-top: 1.3rem;
}

.seperator {
    border-top: 1px solid black;
}

.shipping-methods {
    padding-bottom: 2rem;
}

.shipping-methods > div:first-child {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.shipping-method {
    background: #FFFFFF;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.shipping-method > input:first-child {
    margin-left: 0.75rem;
}

.shipping-method > div:nth-child(2) {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.shipping-method > div:nth-child(2) > div:last-child {
    font-weight: 300;
}

.shipping-method > div:last-child {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding-top: 1rem;
    padding-right: 1rem;
}

/* even more css */
.change-link {
    cursor: pointer;
  }
  
  .change-link:hover {
    color: #f1f1f1;
  }

/* more payment.jsx css */
.shipping-methods-remove-padding {
    padding-bottom: 0;
}

.payment-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.payment-methods div {
    text-align: center;
    background-color: #ffffff;
    height: 5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    transition: border 0.1s ease;
}

.payment-methods div img {
    width: 100%;
    height: 100%;
}

.payment-methods div:hover {
    cursor: pointer;
    background-color: #f1f1f1; 
    border: 2px solid;
}

.payment-methods > div:first-child:hover {
    border-color: #32325D;
}

.payment-methods > div:nth-child(2):hover {
    border-color: #179BD7;
}

.payment-methods > div:last-child:hover {
    border-color: #F7931A;
}

.stripe-selected {
    border: 2px solid #32325D;
}

.paypal-selected {
    border: 2px solid #179BD7;
}

.bitcoin-selected {
    border: 2px solid #F7931A;
}

.selected-payment-method-container {
    background: #FFFFFF;
    margin: 0.5rem 0.1rem 1rem 0.1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
}

.powered-by-stripe {
    width: 80%;
    height: 10%;
    margin: 0 auto;
}