.login {
    text-align: center;
    width: 210px;
    height: 260px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login button {
    margin-top: 50px;
    align-self: center;
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    width: 30vw;
    height: 10vw;
    font-size: 20px;
}

.login button:hover {
    background:#f2cd3e;
    cursor: pointer;
}