.checkout-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #F9F9F9;
}

.checkout-step-container {
    display: flex;
    gap: 0.25rem;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
}

.checkout-circle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #000000;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

/* component css */
.checkout-component-container {
    padding: 1rem;
    min-height: 60vh;
}

.checkout-component-container h1 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
}

.checkout-component-form > .input-fields {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 90%;
}

.address-component-header-2 {
    margin-top: 1rem;
}

.checkout-component-form > .alternative-link-container > .alternative-link {
    margin-top: 0;
}

.checkout-component-form > .alternative-link-container > .alternative-link:hover {
   cursor: pointer;
}

/* shipping component css */
.shipping-method-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom:2rem;
}

.shipping-method-container > div:last-child {
    font-weight: 400;
    font-size: 20px;
}

.shipping-type-and-delivery-date-container {
    width: 65%;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.shipping-type-and-delivery-date-container > div:last-child {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 16px;
}

.alternative-link-container.shipping {
    margin-bottom: 1rem;
}