.profile-header {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px 10px 10px;
}

.profile-header button {
    width: 100px;
    height: 40px;
    background: #F1F1F1;
    border: 1px solid #9F9F9F;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    transition: background-color 250ms;
}

.profile-header button:hover {
    cursor: pointer;
    background: #e0e0e0;
}

.profile-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 8px 0px;
    padding-bottom: 25px;
}

.profile-buttons a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #DDB724;
    color: white; 
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    width: 90%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 10px 0 20px 0;
    transition: all .2s ease-in-out; 
}

.profile-buttons a:hover {
    cursor: pointer;
    transform: scale(1.05); 
}

.profile-buttons a svg {
    height: 80px;
    padding-top: 5px;
    color: white;
}

.div-span {
    background: #D9D9D9;
    width: 100%;
    height: 2px;
}

.quick-account-access-text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
}

.media-scroller {
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 35%;
    padding: 10px 0 10px 0;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-scroller .product-shop {
    width: 110px;
    height: 120px;
}

.media-scroller .product-shop img {
    width: 100px;
    height: 100px;
}

.media-scroller .product-shop .product-price {
    margin: -13px 0 0 80px;
    font-size: 12px;
}

.media-scroller .product-shop .product-container-shop {
    margin: 1px 0 0 1px;
}

.media-scroller .product-shop .product-container-shop .add-to-cart-shop {
    width: 40px;
    height: 12px;
}

.media-scroller .product-shop .product-container-shop .add-to-cart-shop .cart-icon {
    width: 10px;
    height: 10px;
}

.media-scroller .product-shop .product-container-shop .add-to-cart-shop .add-to-cart-text-shop {
    font-size: 4px;
}