.log-in-banner {
    display: flex;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    height: 50px;
}

.log-in-banner div {
    margin: auto 20px;
}

.log-in-banner svg {
    margin: 0 auto;
}

.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-top: 25px;
}