.log-in-banner {
    display: flex;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    height: 50px;
}

.log-in-banner div {
    margin: auto 20px;
}

.log-in-banner svg {
    margin: 0 auto;
}

.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-top: 25px;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #00756A;
    padding-bottom: 20px;
}

.login-fields a {
    color: inherit;
    text-decoration: none;
}

.login-fields a:hover {
    color: #378CA0;
}

.login-fields button {
    width: 90%;
    height: 45px;
    background: #AAAAAA;
    color: black;
    border: none;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    transition: background-color 250ms;
}

.login-fields button:hover {
    background: #00D0C8;
    cursor: pointer;
}

.signup-instead {
    display: flex; 
    flex-flow: column;
    align-items: center;
    background: #F1F1F1;
    height: 50vh;
}

.signup-instead div {
    padding-top: 20px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.signup-instead button {
    width: 50%;
    height: 45px;
    background: #F1F1F1;
    border: 1px solid #9F9F9F;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    transition: background-color 250ms;
}

.signup-instead button:hover {
    cursor: pointer;
    background: #e0e0e0;
}

.error {
    padding-top: 20px;
    color: #ff7e75;
}