.product-container-shop {
    margin: 1.4641288433382138vw 0 0 1.4641288433382138vw;
}

.product-shop {
    box-sizing: border-box;
    background: #FEEED4;
    width: 68.57142857142857vw;
    height: 71.42857142857143vw;
    border: 0.4761904761904762vw solid #000000;
    box-shadow: 0 0.9523809523809524vw 0.9523809523809524vw rgba(0, 0, 0, 0.25);
    border-radius: 1.1904761904761905vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: all .2s ease-in-out; 
    /* width: 74%;
    height: 74%; */
}

.product-shop:hover {
    cursor: pointer;
    transform: scale(1.03); 
}

.product-shop img {
    width: 57.43589743589743vw;
    height: 61.53846153846154vw;
    align-self: center;
}
.product-shop .product-price {
    border: none;
    background: none;
    border-radius: none;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    color: #000000;
    align-self: center;
    margin: -7vw 0 0 49vw;
    font-size: 7.384615384615385vw;
}

.add-to-cart-text-shop {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    color: #ECEBE8;
    padding: 0.7320644216691069vw;
    font-size: 3.3vw;
}

.add-to-cart-shop {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background: #DDB724;
    border: 0.07320644216691069vw solid #000000;
    border-radius: 0.7320644216691069vw;
    border-radius: 0.36603221083455345vw;
    padding: 1vw;
    width: 22.5vw;
    height: 6.15vw;
}

.add-to-cart-shop:hover{
    background:#f2cd3e;
    cursor: pointer;
}

.add-to-cart-shop .cart-icon {
    width: 4.1vw;
    height: 4.1vw;
}

@media screen and (min-width: 620px) {
    .product-container-shop {
        margin: 0.73vw 0 0 0.73vw;
    }
    
    .product-shop {
        width: 34.25vw;
        height: 35.7vw;
        border: 0.235vw solid #000000;
        box-shadow: 0 0.476vw 0.476vw rgba(0, 0, 0, 0.25);
        border-radius: 0.595vw;
    }
    .product-shop img {
        width: 28.7vw;
        height: 30.75vw;
    }
    .product-shop .product-price {
        margin: -3.5vw 0 0 24.5vw;
        font-size: 3.69vw;
    }
    
    .add-to-cart-text-shop {
        padding: 0.365vw;
        font-size: 1.65vw;
    }
    
    .add-to-cart-shop {
        border: 0.035vw solid #000000;
        border-radius: 0.035vw;
        border-radius: 0.168vw;
        padding: 0.5vw;
        width: 11.25vw;
        height: 3vw;
    }

    .add-to-cart-shop .cart-icon {
        width: 2vw;
        height: 2vw;
    }
}

@media screen and (min-width: 980px) {
    .product-container-shop {
        margin: 0.5475vw 0 0 0.5475vw;
    }
    
    .product-shop {
        width: 26vw;
        height: 26.8vw;
        border: 0.17625vw solid #000000;
        box-shadow: 0 0.357vw 0.357vw rgba(0, 0, 0, 0.25);
        border-radius: 0.44625vw;
    }
    .product-shop img {
        width: 21.525vw;
        height: 23.0625vw;
    }
    .product-shop .product-price {
        margin: -2.625vw 0 0 18.375vw;
        font-size: 2.7625vw;
    }
    
    .add-to-cart-text-shop {
        padding: 0.27375vw;
        font-size: 1.2375vw;
    }
    
    .add-to-cart-shop {
        border: 0.02625vw solid #000000;
        border-radius: 0.02625vw;
        border-radius: 0.126vw;
        padding: 0.375vw;
        width: 8.4375vw;
        height: 2.25vw;
    }

    .add-to-cart-shop .cart-icon {
        width: 1.5vw;
        height: 1.5vw;
    }
}