.add-product {
    display: flex;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    height: 50px;
}

.add-product div {
    margin: auto 20px;
}

.add-product svg {
    margin: 0 auto;
}

.cart-checkout-container-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1; 
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #00756A;
}

/* new css */
.cart-checkout-container {
    display: flex; 
    background: #F1F1F1;
    width: 100%;
    flex-flow: row wrap;
    align-content: space-between;
    padding-top: 0.5rem;
}


.cart-checkout-container div:first-child {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: black;
    margin: 5px auto 0 5px;
}

.cart-checkout-container div:last-child {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin: 5px 20px 0 auto;
}

.cart-checkout-container-container a {
    width: 60%;
    height: 50px;
    background: #F1F1F1;
    border: 1px solid #9F9F9F;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    transition: background-color 250ms;
    margin-bottom: 3rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-checkout-container-container a:hover {
    cursor: pointer;
    background: #e0e0e0;
}
