.bootstrap-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.bootstrap-carousel .product-card-container {
    width: 70%;
    margin-bottom: 4rem;
}

.carousel-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    padding-left: 6rem;
    padding-right: 6rem;
}

.carousel-content-wrapper .product-card-container {
    width: 45%;
}

@media (min-width: 980px) {
    .carousel-content-wrapper .product-card-container {
        width: calc(24vw);
    }
}