* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FEEED4;
}

.welcome {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    align-self: center;
    color: #000000;
    padding: 20vw 10vw 0 0;
    margin-bottom: -5vw;
    font-size: 22vw;
}

.banner-title {
    align-self: center;
    font-family: 'Overseer';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 18vw;
}

.banner-shop-now {
    align-self: center;
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    width: 30vw;
    height: 10vw;
    line-height: 10vw;
    font-size: 3.5vw;
    margin: 2vw 0 4vw 0;
    
}

.banner-shop-now:hover {
    background:#f2cd3e;
    cursor: pointer;
}

.recent-products {
    background:#82A7D6;
    padding-bottom: 10vw;
}

.recent-product {
    /* margin-top: 40px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background:  #82A7D6; */
}

.recent-product-mobile {
}

.recent-products-label {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 7.2vw;
    color: #FFFFFF;
    padding: 5vw 0 5vw 0;
    text-align: center;
}

.special-deals {
    background: #FCE8A4;
    padding-bottom: 10vw;
}

.special-deals-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 18vw;
    color: #447AB9;
    padding: 5vw 0 5vw 0;
    text-align: center;
}

/* .special-deals-products {
    margin-top: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    background: #FCE8A4;
} */

.about {
    background: #447AB9;
    padding-bottom: 10vw;
}

.about-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 11vw;
    color: #FFFFFF;
    padding: 2.4vw 0 2.4vw 0;
    text-align: center;
}

.about-text {
    font-family: 'Futura';
    font-style: normal;
    color: #FFFFFF;
    font-size: 6vw;
    margin: 0.5vw 4.3vw 0 4.3vw;
}

.newsletter {
    background: #FEEED4;
    padding-bottom: 9.5vw;
}

.newsletter-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 11vw;
    color: #447AB9;
    padding: 2.4vw 0 2.4vw 0;
    text-align: center;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 9.5vw 0 4.8vw 0;
    gap: 3.3vw;
}

.newsletter-text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    color: #447AB9;;
    font-size: 6vw;
    margin: 0.5vw 4.3vw 0 4.3vw;
}

.newsletter-email-input {
    align-self: center;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.36);
    outline: none;
    border: .24vw solid rgba(0, 0, 0, 0.36);
    border-radius: 1.19vw; 
    width: 50vw;
    height: 8vw;
    font-size: 5vw;
}

.newsletter-email-input:focus {
    border: 0.36vw solid rgba(0, 0, 0, 0.36);
}

.newsletter-subscribe {
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    border: none;
    width: 19.5vw;
    height: 8vw;
    font-size: 2.6vw;
}

.newsletter-subscribe:hover {
    background:#f2cd3e;
    cursor: pointer;
}

.copyright {
    background: #325886;
}

.copyright div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size:6vw;
    color: #FFFFFF;
    text-align: center;
    padding-top: 7vw;
    padding-bottom: 6vw;
}

@media screen and (min-width: 620px) {
    .welcome {
        padding: 10vw 0 0 0;
        margin-bottom: -1vw;
        font-size: 11vw;
    }
    
    .banner-title {
        font-size: 9vw;
    }
    
    .banner-shop-now {
        width: 15vw;
        height: 5vw;
        line-height: 5vw;
        font-size: 1.75vw;
        margin: 3.3vw 0 2vw 30;
    }

    .recent-products {
        padding-bottom: 5vw;
    }
    
    .recent-product {
        /* margin-top: 40px;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        background:  #82A7D6; */
    }
    
    .recent-product-mobile {
    }
    
    .recent-products-label {
        font-size: 3.6vw;
        padding: 2.5vw 0 2.5vw 0;
    }
    
    .special-deals {
        padding-bottom: 10vw;
    }
    
    .special-deals-label {
        font-size: 9vw;
        padding: 5vw 0 5vw 0;
    }
    
    .about {
        padding-bottom: 5vw;
    }
    
    .about-label {
        font-size: 5.5vw;
        padding: 1.2vw 0 1.2vw 0;
    }
    
    .about-text {
        font-size: 3vw;
        margin: 0.25vw 2.15vw 0 2.15vw;
    }
    
    .newsletter {
        padding-bottom: 4.75vw;
    }
    
    .newsletter-label {
        font-size: 5.5vw;
        padding: 1.2vw 0 1.2vw 0;
    }
    
    .subscribe-container {
        padding: 4.75vw 0 2.4vw 0;
        gap: 1.65vw;
    }
    
    .newsletter-text {
        font-size: 3vw;
        margin: 0.25vw 2.15vw 0 2.15vw;
    }
    
    .newsletter-email-input {
        border: .12vw solid rgba(0, 0, 0, 0.36);
        border-radius: 0.595vw; 
        width: 25vw;
        height: 4vw;
        font-size: 2.5vw;
    }
    
    .newsletter-email-input:focus {
        border: 0.18vw solid rgba(0, 0, 0, 0.36);
    }
    
    .newsletter-subscribe {
        width: 9.75vw;
        height: 4vw;
        font-size: 1.3vw;
    }

    .copyright div {
        font-size:3vw;
        padding-top: 3.5vw;
        padding-bottom: 3vw;
    }
}

@media screen and (min-width: 980px) {
    .welcome {
        padding: 7.5vw 0 0 0;
        margin-bottom: -0.75vw;
        font-size: 8.25vw;
    }
    
    .banner-title {
        font-size: 6.75vw;
    }
    
    .banner-shop-now {
        width: 11.25vw;
        height: 3.75vw;
        line-height: 3.75vw;
        font-size: 1.3125vw;
        margin: 2.475vw 0 1.5vw 0;
    }

    .recent-products {
        padding-bottom: 3.75vw;
    }
    
    .recent-product {
        /* margin-top: 40px;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        background:  #82A7D6; */
    }
    
    .recent-product-mobile {
    }
    
    .recent-products-label {
        font-size: 2.7vw;
        padding: 1.875vw 0 1.875vw 0;
    }
    
    .special-deals {
        padding-bottom: 7.5vw;
    }
    
    .special-deals-label {
        font-size: 10vw;
        padding: 3.75vw 0 3.75vw 0;
    }
    
    .about {
        padding-bottom: 3.75vw;
    }
    
    .about-label {
        font-size: 10vw;
        padding: 1.2vw 0 1.2vw 0;
    }
    
    .about-text {
        font-size: 3vw;
        margin: 0.25vw 10vw 0 10vw;
    }
    
    .newsletter {
        padding-bottom: 4.75vw;
    }
    
    .newsletter-label {
        font-size: 10vw;
        padding: 1.2vw 0 1.2vw 0;
    }
    
    .subscribe-container {
        padding: 4.75vw 0 2.4vw 0;
        gap: 1.65vw;
    }
    
    .newsletter-text {
        font-size: 3vw;
        margin: 0.25vw 10vw 0 10vw;
    }
    
    .newsletter-email-input {
        border: .12vw solid rgba(0, 0, 0, 0.36);
        border-radius: 0.595vw; 
        width: 25vw;
        height: 4vw;
        font-size: 2.5vw;
    }
    
    .newsletter-email-input:focus {
        border: 0.18vw solid rgba(0, 0, 0, 0.36);
    }
    
    .newsletter-subscribe {
        width: 9.75vw;
        height: 4vw;
        font-size: 1.3vw;
    }

    .copyright div {
        font-size:3vw;
        padding-top: 3.5vw;
        padding-bottom: 3vw;
    }
}