* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FEEED4;
}

.welcome {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    align-self: center;
    padding: 6.25rem 30rem 0 0;
    color: #000000;
}

.banner-title {
    align-self: center;
    font-family: 'Overseer';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #000000;
}

.banner-shop-now {
    align-self: center;
    margin: 20px 0 100px 800px;
    width: 180px;
    height: 60px;
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}

.banner-shop-now:hover {
    background:#f2cd3e;
    cursor: pointer;
}

.recent-products {
    background:#82A7D6;
    padding-bottom: 40px;
}

.recent-product {
    margin-top: 40px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background:  #82A7D6;
}

.recent-products-label {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 40px;
    text-align: center;
}

.special-deals {
    background: #FCE8A4;
    padding-bottom: 40px;
}

.special-deals-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #447AB9;
    padding-top: 50px;
    padding-left: 50px;
}

.special-deals-products {
    margin-top: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background: #FCE8A4;
}

.about {
    background: #447AB9;
    padding-bottom: 40px;
}

.about-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-left: 50px;
}

.about-text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
    margin: 20px 170px 0 170px;
}

.newsletter {
    background: #FEEED4;
    padding-bottom: 40px;
}

.newsletter-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #447AB9;
    padding-top: 50px;
    padding-left: 50px;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 0 20px 0;
    gap: 100px;
}

.newsletter-text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    color: #447AB9;;
    margin: 20px 170px 0 170px;
}

.newsletter-email-input {
    align-self: center;
    width: 320px;
    height: 40px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.36);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 5px; 
}

.newsletter-email-input:focus {
    border: 1.5px solid rgba(0, 0, 0, 0.36);
}

.newsletter-subscribe {
    width: 180px;
    height: 60px;
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    border: none;
}

.newsletter-subscribe:hover {
    background:#f2cd3e;
    cursor: pointer;
}

.copyright {
    background: #325886;
}

.copyright div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 1500px) {
    .recent-product {
        grid-template-columns: 1fr 1fr 1fr 
    }
}

@media (max-width: 1137px) {
    .recent-product {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .special-deals-products {
        grid-template-columns: 1fr 1fr;
    }
    .newsletter-text {
        font-size: calc(48px * .8);
        margin: calc(20px * .5) calc(170px * .5) 0 calc(170px * .5);
    }
    .about-text {
        font-size: calc(48px * .8);
        margin: calc(20px * .5) calc(170px * .5) 0 calc(170px * .5);
    }
    .special-deals-label {
        font-size: calc(128px * .8);
        padding-left: 0;
        text-align: center;
    }
    .newsletter-label {
        font-size: calc(128px * .8);
        padding-left: 0;
        text-align: center;
    }
    .about-label {
        font-size: calc(128px * .8);
        padding-left: 0;
        text-align: center;
    }
    .copyright div {
        font-size: calc(36px * .8);
    }
}

@media (max-width: 995px) {
    .welcome {
        padding: 50px 50px 0 0;
    }
    .banner-shop-now {
        margin: 20px 0 50px 380px;
    }
    .newsletter-text {
        font-size: calc(48px * .65);
        margin: calc(20px * .25) calc(170px * .25) 0 calc(170px * .25);
    }
    .about-text {
        font-size: calc(48px * .65);
        margin: calc(20px * .25) calc(170px * .25) 0 calc(170px * .25);
    }
    .newsletter-label {
        font-size: calc(128px * .65)
    }
    .about-label {
        font-size: calc(128px * .65)
    }
    .copyright div {
        font-size: calc(36px * .65);
    }
    .special-deals-label {
        font-size: calc(128px * .65);
    }
}

@media (max-width: 770px) {
    .recent-product {
        grid-template-columns: 1fr;
    }
    .special-deals-products {
        grid-template-columns: 1fr;
    }
    .newsletter-email-input {
        width: calc(320px * .8);
        height: calc(40px * .8);
        font-size: calc(20px * .8);
    }
    .newsletter-subscribe {
        width: calc(180px * .8);
        height: calc(60px * .8);
        font-size: calc(24px * .8);
    }
    .subscribe-container {
        gap: calc(100px * .8);
    }
}

@media (max-width: 600px) {
    .welcome {
        padding: 75px 25px 0px 0;
        font-size: 64px;
    }
    .banner-shop-now {
        width: 90px;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
        margin: 20px 0 25px 180px;
    }
    .banner-title {
        font-size: 64px;
    }
    .newsletter-email-input {
        width: calc(320px * .65);
        height: calc(40px * .65);
        font-size: calc(20px * .65);
    }
    .newsletter-subscribe {
        width: calc(180px * .65);
        height: calc(60px * .65);
        font-size: calc(24px * .65);
    }
    .subscribe-container {
        gap: calc(100px * .2);
    }
    .special-deals-label {
        font-size: calc(128px * .5);
    }
}

@media (max-width: 360px) {
    .newsletter-email-input {
        width: calc(320px * .55);
        height: calc(40px * .55);
        font-size: calc(20px * .55);
    }
    .newsletter-subscribe {
        width: calc(180px * .55);
        height: calc(60px * .55);
        font-size: calc(24px * .55);
    }
    .subscribe-container {
        gap: calc(100px * .1);
    }
}

@media (max-width: 390px) {
    .recent-products-label {
        font-size: calc(38px * .8);
    }
}

@media (max-width: 310px) {
    .welcome {
        font-size: calc(64px * .8);
    }
    .banner-title {
        font-size: calc(64px * .8)
    }
    .banner-shop-now {
        width: calc(90px * .8);
        height: calc(30px * .8);
        line-height: calc(30px * .8);
        font-size: calc(10px * .8);
        margin: calc(20px * .8) 0 calc(25px * .8) calc(180px * .8);
    }
}