* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FEEED4;
}

.welcome {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    align-self: center;
    color: #000000;
    padding: 20vw 4vw 0 0;
    font-size: 22vw;
}

.banner-title {
    align-self: center;
    font-family: 'Overseer';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 18vw;
}

.banner-shop-now {
    align-self: center;
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    width: 30vw;
    height: 10vw;
    line-height: 10vw;
    font-size: 3.5vw;
    margin: 6.6vw 0 8.4vw 60vw;
}

.banner-shop-now:hover {
    background:#f2cd3e;
    cursor: pointer;
}

.recent-products {
    background:#82A7D6;
    padding-bottom: 10vw;
}

.recent-product {
    /* margin-top: 40px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background:  #82A7D6; */
}

.recent-product-mobile {
}

.recent-products-label {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 7.2vw;
    color: #FFFFFF;
    padding: 5vw 0 5vw 0;
    text-align: center;
}

.special-deals {
    background: #FCE8A4;
    padding-bottom: 10vw;
}

.special-deals-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 18vw;
    color: #447AB9;
    padding: 5vw 0 5vw 0;
    text-align: center;
}

/* .special-deals-products {
    margin-top: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    background: #FCE8A4;
} */

.about {
    background: #447AB9;
    padding-bottom: 10vw;
}

.about-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 11vw;
    color: #FFFFFF;
    padding: 2.4vw 0 2.4vw 0;
    text-align: center;
}

.about-text {
    font-family: 'Futura';
    font-style: normal;
    color: #FFFFFF;
    font-size: 6vw;
    margin: 0.5vw 4.3vw 0 4.3vw;
}

.newsletter {
    background: #FEEED4;
    padding-bottom: 40px;
}

.newsletter-label {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 11vw;
    color: #447AB9;
    padding: 2.4vw 0 2.4vw 0;
    text-align: center;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 9.5vw 0 4.8vw 0;
    gap: 3.3vw;
}

.newsletter-text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    color: #447AB9;;
    font-size: 6vw;
    margin: 0.5vw 4.3vw 0 4.3vw;
}

.newsletter-email-input {
    align-self: center;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.36);
    outline: none;
    border: .24vw solid rgba(0, 0, 0, 0.36);
    border-radius: 1.19vw; 
    width: 50vw;
    height: 8vw;
    font-size: 5vw;
}

.newsletter-email-input:focus {
    border: 0.36vw solid rgba(0, 0, 0, 0.36);
}

.newsletter-subscribe {
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    border: none;
    width: 19.5vw;
    height: 8vw;
    font-size: 2.6vw;
}

.newsletter-subscribe:hover {
    background:#f2cd3e;
    cursor: pointer;
}

.copyright {
    background: #325886;
}

.copyright div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size:6vw;
    color: #FFFFFF;
    text-align: center;
    padding-top: 7vw;
    padding-bottom: 6vw;
}