.cart-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem 1rem;
}

.cart-product-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}