.cart-container h1 {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem 1rem;
}

.cart-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.cart-container .subtotal-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 1rem;
}

.checkout-btn-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

.checkout-btn-container > a {
    text-align: center;
    line-height: 48px;
}