.store-container {
    background: #82A7D6;
    padding-top: 135px;
}

.store-product {
    /* padding-right: 10px; */
    grid-template-columns: 1fr; 
    display: grid;
    grid-gap: 20px;
    padding-bottom: 40px;
    background: #82A7D6;
}

@media (min-width: 620px) {
    .store-product {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .store-product {
        grid-template-columns: 1fr 1fr 1fr;
    }
}