.store-container {
    background: #82A7D6;
    padding-top: 135px;
}

.store-products {
}

.store-product {
    /* padding-right: 10px; */
    grid-template-columns: 1fr; 
    display: grid;
    grid-gap: 20px;
    padding-bottom: 40px;
    background: #82A7D6;
}