body {
    background: #FCE8A4;
}

.store-container {
    display: grid;
    grid-template-rows: 220px calc(100vh - 55px);
    grid-template-columns: 360px auto;
    grid-template-areas: 
    'sidebar header'
    'sidebar products';
}

.store-header {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #447AB9;
    background: #FCE8A4;
    text-align: center;
    padding-top: 100px;
    /* position: sticky;
    top: 0;
    height: 27vh;
    box-sizing: border-box; */
}

.store-product {
    grid-area: products; 
    margin-top: 40px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background:  #FCE8A4;
    padding-bottom: 40px;
}

.shop-dropdown {
    width: 250px;
    height: 0;
    margin-left: auto;
    margin-right: 50px;
}

.shop-dropdown-menu {
    margin-top: 300px;
}