body {
    background: #FCE8A4;
}

.store-container {
    display: grid;
    grid-template-rows: 220px calc(100vh - 55px);
    grid-template-columns: 360px auto;
    grid-template-areas: 
    'sidebar header'
    'sidebar products';
}

.store-header {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #447AB9;
    background: #FCE8A4;
    text-align: center;
    padding-top: 100px;
    /* position: sticky;
    top: 0;
    height: 27vh;
    box-sizing: border-box; */
}

.store-product {
    grid-area: products; 
    padding-left: 0;
    /* padding-right: 10px; */
    margin-top: 40px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background:  #FCE8A4;
    padding-bottom: 40px;
}

.shop-dropdown {
    width: 250px;
    height: 0;
    margin-left: auto;
    margin-right: 50px;
}

.shop-dropdown-menu {
    margin-top: 300px;
}

@media (max-width: 1525px) {
    .store-header {
        font-size: calc(128px * .9);
    }
}

@media (max-width: 1305px) {
    .store-header {
        font-size: calc(128px * .8);
    }
}

@media (max-width: 1080px) {
    .store-product {
        grid-template-columns: 1fr 1fr; 
    }
    .store-header {
        font-size: calc(128px * .75);
        /* padding-top: calc(100px * .9);
        padding-right: 90px; */
    }
    .store-container {
        grid-template-rows: calc(220px * .9) calc(calc(100vh - 55px) * .9);
        grid-template-columns: calc(360px * .9) auto;
    }
}

@media (max-width: 980px) {
    .store-header {
        font-size: calc(128px * .7);
    }
}

@media (max-width: 880px) {
    .store-header {
        font-size: calc(128px * .6);
        /* padding-top: calc(100px * .9);
        padding-right: 90px; */
    }
    .store-container {
        grid-template-rows: calc(220px * .8) calc(calc(100vh - 55px) * .8);
        grid-template-columns: calc(360px * .8) auto;
    }
}

@media (max-width: 700px) {
    .store-product {
        grid-template-columns: 1fr; 
    }
    .store-header {
        font-size: calc(128px * .5);
    }
    .store-container {
        grid-template-rows: calc(220px * .8) calc(calc(100vh - 55px) * .8);
        grid-template-columns: calc(360px * .65) auto;
    }
}

/* @media (max-width: 1200px) {
    .store-container {
        grid-template-rows: calc(220px * .8) calc(calc(100vh - 55px) * .8);
        grid-template-columns: calc(360px * .8) auto;   
    }
    .store-header {
        font-size: calc(128px * .8);
    }
} */

/* @media (max-width: 1100px) {
    .store-product {
        grid-template-columns: 1fr;
    }
} */