body {
    background: #FCE8A4;
}

.store-container {
    display: grid;
    grid-template-rows: 220px calc(100vh - 55px);
    grid-template-columns: 360px auto;
    grid-template-areas: 
    'sidebar header'
    'sidebar products';
}

.filter-products-mobile {
    background: #447AB9;
    border-radius: 5px;
    font-family: 'Futura';
    font-style: normal;
    font-size: 24px;
    color: #fff;
	border: none;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
    display: flex;
    margin-top: 33px;
    border: 1px solid #000000;
}

.filter-products-mobile:hover {
    background-color: #82A7D6;
}

.filter-products-mobile > div {
    margin-left: 5px;
    margin-right: 5px;
}

.filter-products-mobile-plus {
    line-height: 26px;
}


.store-buttons-container {
    display: flex;
    align-items: center;
}

.store-header {
    font-family: 'Southern Aire Personal Use Only';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    grid-area: header;
    color: #447AB9;
    background: #FCE8A4;
    text-align: center;
    padding-top: 100px;
    /* position: sticky;
    top: 0;
    height: 27vh;
    box-sizing: border-box; */
}

.store-product {
    grid-area: products; 
    padding-left: 0;
    /* padding-right: 10px; */
    margin-top: 40px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-gap: 20px;
    background:  #FCE8A4;
    padding-bottom: 40px;
}

.shop-dropdown {
    width: 250px;
    height: 0;
    margin-left: auto;
    margin-right: 50px;
}

.shop-dropdown-menu {
    margin-top: 300px;
}

@media (min-width: 980px) {
    .filter-products-mobile {
        display: none;
    }
}

@media (max-width: 1525px) {
    .store-header {
        font-size: calc(128px * .9);
    }
}

@media (max-width: 1305px) {
    .store-header {
        font-size: calc(128px * .8);
    }
}

@media (max-width: 1080px) and (min-width: 980px) {
    .store-product {
        grid-template-columns: 1fr 1fr; 
    }
    .store-header {
        font-size: calc(128px * .75);
        /* padding-top: calc(100px * .9);
        padding-right: 90px; */
    }
    .store-container {
        grid-template-rows: calc(220px * .9) calc(calc(100vh - 55px) * .9);
        grid-template-columns: calc(360px * .9) auto;
    }
}

@media (max-width: 980px) {
    .store-container {
        grid-template-areas: 
        'header header'
        'products products';
    }
    .store-products {
        margin: auto;
        grid-area: products;
    }
    .store-product {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .store-sidebar {
        display: none;
    }
    .store-sidebar-sticky {
        display: none;
    }
}

@media (max-width: 390px) {
    .store-product {
        grid-template-columns: 1fr;
    }
    .store-header {
        font-size: calc(128px * .55);
    }
    .filter-products-mobile {
        border-radius: 5px;
        /* font-size: calc(24px * .55); */
        padding: 2px 10px 2px 10px;
    }
    .store-buttons-container {
        gap: 40px;
    }
}