.add-product {
    display: flex;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    height: 50px;
}

.success-message {
    position: fixed; /* position the message in the center of the screen */
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    background-color: #1DD767; /* set the background color to green */
    color: white; /* set the text color to white */
    padding: 15px; /* add some padding to the message */
    border-radius: 10px; /* add rounded corners */
    opacity: 0; /* initially hide the message by setting the opacity to 0 */
    transition: opacity 1s ease-out; /* add a transition to the opacity property */
    z-index: 999; /* set a high z-index to ensure the message is on top of everything else */
}

.add-product div {
    margin: auto 20px;
}

.add-product svg {
    margin: 0 auto;
}

.add-product-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-top: 25px;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #00756A;
    padding-bottom: 20px;
}

.add-product-fields a {
    color: inherit;
    text-decoration: none;
}

.add-product-fields a:hover {
    color: #378CA0;
}

.add-product-fields button {
    width: 90%;
    height: 45px;
    background: #AAAAAA;
    color: black;
    border: none;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    transition: background-color 250ms;
}

.add-product-fields button {
    margin-top: 10px;
    width: 30%;
    height: 30px;
    font-size: 12px;
}

.add-product-fields button:hover {
    background: #00D0C8;
    cursor: pointer;
}

.add-product-model-submit {
    display: flex; 
    flex-flow: column;
    align-items: center;
    background: #F1F1F1;
    height: 180px;
}

.add-product-model-submit div {
    padding-top: 20px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.add-product-model-submit button {
    width: 50%;
    height: 45px;
    background: #F1F1F1;
    border: 1px solid #9F9F9F;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    transition: background-color 250ms;
}

.add-product-model-submit button:hover {
    cursor: pointer;
    background: #e0e0e0;
}

.error {
    padding-top: 20px;
    color: #ff7e75;
}