.edit-product-image-border {
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    width: 150%;
    margin-top: -20px;
}

.add-product {
    display: flex;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    height: 50px;
}

.add-product div {
    margin: auto 20px;
}

.add-product svg {
    margin: 0 auto;
}

.add-product-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-top: 25px;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #00756A;
    padding-bottom: 20px;
}

.signup-instead {
    display: flex; 
    flex-flow: column;
    align-items: center;
    background: #F1F1F1;
    height: 180px;
}

.signup-instead div {
    padding-top: 20px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.signup-instead button {
    width: 50%;
    height: 45px;
    background: #F1F1F1;
    border: 1px solid #9F9F9F;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    transition: background-color 250ms;
}

.signup-instead button:hover {
    cursor: pointer;
    background: #e0e0e0;
}

.error {
    padding-top: 20px;
    color: #ff7e75;
}