.edit-product-image-border {
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    width: 175px;
    margin-top: 0px;
    position: relative;
}

.edit-product-description-border {
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    width: 350px;
    margin-top: 20px;
    position: relative;
    color: black;
}

.edit-product-description-border div {
    padding: 10px 35px 5px 5px;
    font-size: 20px;
}

.edit-product-description-border button {
    all: unset;
    right: 7%;
    cursor: pointer;
    background: #D9D9D9;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
    transition: all .1s ease-in-out;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.edit-product-description-border button:hover {
    background: #b7b6b6;
}

.edit-product-attributes-container {
    display: flex;
    justify-content: center;
}

.edit-product-attributes-container > div:first-child {
    width:25%;
    float: left;
    text-align: center;
}

.edit-product-attributes-container > div:last-child {
    width:100%;
    float: right;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-product-attributes-container {
    margin-top: 20px;
    margin-left: 5%;
}

.edit-product-chakra {
    width: 20%;
}

.edit-product-attribute {
	cursor: pointer;
    background: #ADD8E6;
    border-radius: 13px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: black;
    display: flex;
    /* width: 40%; */
    align-items: center;
    justify-content: center;
    flex-grow: 0.2;
    height: 35%;
    margin: 0 5px 5px 5px;
}

.edit-product-attribute:hover {
    background: #CFEAF3;
}

.edit-product-attribute-edit {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background: #D9D9D9;
    border-radius: 2px;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
    transition: all .1s ease-in-out;
    height: 60%;
    margin-left: 5px;
}

.edit-product-attribute-edit:hover {
    background: #b7b6b6;
}


.remove-product-btn {
    all: unset;
    right: 7%;
    cursor: pointer;
    border-radius: 2px;
    margin: 50px;
    padding: 5px 10px 5px 10px;
    transition: all .1s ease-in-out;
    color: white;
    background: #FA8072;
    border-radius: 5px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.remove-product-btn:hover {
    background: #FFACA2;
}


.edit-product-image-border button {
    all: unset;
    right: 7%;
    cursor: pointer;
    background: #D9D9D9;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
    transition: all .1s ease-in-out;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.edit-product-image-border button:hover {
    background: #b7b6b6;
}

.edit-product {
    display: flex;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    height: 50px;
}

.edit-product div {
    margin: auto 20px;
}

.edit-product svg {
    margin: 0 auto;
}

.edit-product-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-top: 25px;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #00756A;
}

.save-changes {
    display: flex; 
    flex-flow: column;
    align-items: center;
    background: #F1F1F1;
    height: 180px;
}

.save-changes div {
    padding-top: 20px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.save-changes button {
    width: 60%;
    height: 50px;
    background: #F1F1F1;
    border: 1px solid #9F9F9F;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    transition: background-color 250ms;
}

.save-changes button:hover {
    cursor: pointer;
    background: #e0e0e0;
}

.error {
    padding-top: 20px;
    color: #ff7e75;
}