.order {
    background: #F1F1F1;
    height: 80%;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #000000;
    transition: all .2s ease-in-out; 
}

.order:hover {
    cursor: pointer;
    transform: scale(1.03); 
}

.order img {
    height: 150px;
    width: 150px;
}

.order-details div {
    margin-left: 45px;
}

.order button {
    all: unset;
    position: absolute; 
    right: 7%;
    cursor: pointer;
    background: #D9D9D9;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
    /* padding: 0px 5px 0px 5px; */
    transition: all .1s ease-in-out; 
}

.order button:hover {
    background: #b7b6b6;
}

.customer-email {
    text-decoration: underline;
}