.recent-product {
    background: #F1F1F1;
    height: 80%;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #000000;
    transition: all .2s ease-in-out; 
}

.recent-product:hover {
    cursor: pointer;
    transform: scale(1.03); 
}

.recent-product > div {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.recent-product button {
    all: unset;
    right: 7%;
    cursor: pointer;
    background: #D9D9D9;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
    transition: all .1s ease-in-out; 
}

.recent-product button:hover {
    background: #b7b6b6;
}

.product-title {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.product-price {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}