.dropdown {
    width: 200px;
    margin-left: auto;
    margin-right: 50px;
    position: relative;
    user-select: none;
    font-family: 'Futura';
    font-style: normal;
    font-size: 20px;
    height: 30px;
}

.dropdown .dropdown-btn {
    padding: 10px 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    /* font-weight: bold; */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 150%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 100%;
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background: #f4f4f4;
}

@media (max-width: 1525px) {
    .dropdown {
        width: calc(200px * .9);
        margin-right: calc(50px * .9);
        margin-top: 30px;
        font-size: calc(20px * .9);
    }

    .dropdown .dropdown-btn {
        padding: calc(10px * .9) calc(15px * .9);
    }
    .dropdown .dropdown-content {
        top: calc(150% * .9);
        padding: calc(10px * .9);
    }
}

@media (max-width: 1305px) {
    .dropdown {
        width: calc(200px * .8);
        margin-right: calc(50px * .4);
        margin-top: 30px;
        font-size: calc(20px * .8);
    }

    .dropdown .dropdown-btn {
        padding: calc(10px * .8) calc(15px * .8);
    }
    .dropdown .dropdown-content {
        top: calc(150% * .8);
        padding: calc(10px * .8);
    }
}

@media (max-width: 390px) {
    .dropdown {
        font-size: calc(20px * .7);
    }
}