.filter-products-button {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
    transition: padding ease-in-out 250ms;
}

.filter-products-button-expanded {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
    padding-bottom: 200px;
    transition: padding ease-in-out 250ms;
}

.filter-products-button button, .filter-products-button-expanded button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.filter-products-button div, .filter-products-button-expanded div {
    padding-right: 20px; 
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}