.filter-products-button {
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #000000;
    transition: height ease-in-out 300ms;
    overflow: hidden;
    height: 50px;
}

.filter-container {
    display:flex;
    cursor: pointer;
}

.filter-list-container {
    display: flex;
    justify-content: space-between;
}

.filter-products-button-expanded {
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #000000;
    height: 280px;
    overflow: hidden;
    transition: height ease-in-out 300ms;
}

.filter-container button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 50px;
    padding-right: 250px;
    background: #FEEED4;
}

.filter-container div {
    padding-right: 20px; 
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.filter-list-container input {
    height: 25px;
    width: 25px;
    background-color: #eee;
}