.filter-products-button {
    padding-top: 20px;
    padding-left: 5px;
    border-bottom: 1px solid #000000;
    transition: height ease-in-out 300ms;
    overflow: hidden;
    height: 50px;
}

.filter-container {
    display:flex;
    cursor: pointer;
}

.filter-list-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 15px;
}

.filter-list-container input {
    width: 25px;
    height: 50px;
    background-color: #eee;
}

.filter-list-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid #000000;
}

.filter-list-container div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 60px;
    line-height: 50px;
    margin-right: 40px;
}

.filter-products-button-expanded {
    padding-top: 20px;
    padding-left: 5px;
    border-bottom: 1px solid #000000;
    height: 520px;
    overflow: hidden;
    transition: height ease-in-out 300ms;
}

.filter-container button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 50px;
    padding-right: 260px;
    background: #FEEED4;
}

.filter-container div {
    padding-right: 20px; 
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}