.filter-products-button {
    padding-top: 20px;
    padding-left: 5px;
    border-bottom: 1px solid #000000;
    transition: height ease-in-out 300ms;
    overflow: hidden;
    height: 50px;
}

.filter-container {
    display:flex;
    cursor: pointer;
}

.filter-list-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 15px;
}

.filter-list-container input {
    width: 25px;
    height: 50px;
    background-color: #eee;
}

.filter-list-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid #000000;
}

.filter-list-container div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 60px;
    line-height: 50px;
    margin-right: 40px;
}

.filter-products-button-expanded {
    padding-top: 20px;
    padding-left: 5px;
    border-bottom: 1px solid #000000;
    height: 520px;
    overflow: hidden;
    transition: height ease-in-out 300ms;
}

.filter-container button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 50px;
    padding-right: 260px;
    background: #FEEED4;
}

.filter-container div {
    padding-right: 20px; 
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}

@media (max-width: 1525px) {
    /* .filter-list-container {
        padding-top: calc(10px * .9);
        padding-right: calc(15px * .9);
    } */
    .filter-products-button {
        /* padding-top: calc(20px * .9); */
        padding-left: calc(5px * .9);
        height: calc(50px * .9);
    }
    .filter-products-button-expanded {
        /* padding-top: calc(20px * .9); */
        padding-left: calc(5px * .9);
        height: calc(520px * .9);
    }
    .filter-list-container input {
        width: calc(25px * .9);
        height: calc(50px * .9);
    }
    
    .filter-list-container img {
        width: calc(50px * .9);
        height: calc(50px * .9);
    }

    .filter-container button {
        font-size: calc(24px * .9);
        width: calc(50px * .9);
        padding-right: calc(260px * .9);
    }

    .filter-container div {
        padding-right: calc(20px * .9); 
        font-size: calc(24px * .9);
        line-height: calc(27px * .9);
    }
    
    .filter-list-container div {
        font-size: calc(20px * .9);
        width: calc(60px * .9);
        padding-right: calc(20px * .9); 
        line-height: calc(50px * .9);
    }
    
}

@media (max-width: 1080px) {
    .filter-list-container {
        /* padding-top: calc(10px * .8); */
        padding-right: calc(15px * .8);
    }
    .filter-products-button {
        /* padding-top: calc(20px * .8); */
        padding-left: calc(5px * .8);
        height: calc(50px * .8);
    }
    .filter-products-button-expanded {
        /* padding-top: calc(20px * .8); */
        padding-left: calc(5px * .8);
        height: calc(520px * .8);
    }
    .filter-list-container input {
        width: calc(25px * .8);
        height: calc(50px * .8);
    }
    
    .filter-list-container img {
        width: calc(50px * .8);
        height: calc(50px * .8);
    }

    .filter-container button {
        font-size: calc(24px * .8);
        width: calc(50px * .8);
        padding-right: calc(260px * .8);
    }

    .filter-container div {
        padding-right: calc(20px * .8); 
        font-size: calc(24px * .8);
        line-height: calc(27px * .8);
    }
    
    .filter-list-container div {
        font-size: calc(20px * .8);
        width: calc(60px * .8);
        padding-right: calc(20px * .8); 
        line-height: calc(50px * .8);
    }
    
}

@media (max-width: 880px) {
    .filter-list-container {
        padding-top: 12px;
        padding-right: calc(15px * .6);
    }
    .filter-products-button {
        padding-top: 24px;
        padding-left: calc(5px * .6);
        height: calc(50px * .6);
    }
    .filter-products-button-expanded {
        /* padding-top: calc(20px * .7); */
        padding-left: calc(5px * .6);
        height: calc(520px * .6);
    }
    .filter-list-container input {
        width: calc(25px * .6);
        height: calc(50px * .6);
    }
    
    .filter-list-container img {
        width: calc(50px * .6);
        height: calc(50px * .6);
    }

    .filter-container button {
        font-size: calc(24px * .8);
        width: calc(50px * .6);
        padding-right: calc(260px * .6);
    }

    .filter-container div {
        padding-right: calc(20px * .6); 
        font-size: calc(24px * .8);
        line-height: calc(27px * .6);
    }
    
    .filter-list-container div {
        font-size: calc(20px * .8);
        width: calc(60px * .6);
        padding-right: calc(20px * .6); 
        line-height: calc(50px * .6);
    }
    
}

@media (max-width: 525px) {
    .filter-list-container {
        padding-top: 12px;
        padding-right: calc(15px * .5);
    }
    .filter-products-button {
        padding-top: 24px;
        padding-left: calc(5px * .5);
        height: calc(50px * .5);
    }
    .filter-products-button-expanded {
        /* padding-top: calc(20px * .7); */
        padding-left: calc(5px * .5);
        height: calc(520px * .5);
    }
    .filter-list-container input {
        width: calc(25px * .5);
        height: calc(50px * .5);
    }
    
    .filter-list-container img {
        width: calc(50px * .5);
        height: calc(50px * .5);
    }

    .filter-container button {
        font-size: calc(24px * .8);
        width: calc(50px * .5);
        padding-right: calc(260px * .5);
    }

    .filter-container div {
        padding-right: calc(20px * .5); 
        font-size: calc(24px * .8);
        line-height: calc(27px * .5);
    }
    
    .filter-list-container div {
        font-size: calc(20px * .8);
        width: calc(60px * .5);
        padding-right: calc(20px * .5); 
        line-height: calc(50px * .5);
    }
    
}