.filter-products-button {
    padding-left: 5px;
    border-bottom: 1px solid #fff;
    transition: height ease-in-out 300ms;
    overflow: hidden;
    height: 50px;
    width: 44%;
    -webkit-tap-highlight-color: transparent;
}

.filter-container {
    display:flex;
    cursor: pointer;
}

.filter-list-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.filter-list-container input {
    width: 20px;
    background-color: #eee;
}

.filter-list-container img {
    width: 35px;
    height: 50%;
    margin: auto 0;
    border-radius: 50%;
    border: 0.5px solid #000000;
}

.filter-list-container div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 80px;
    line-height: 50px;
	text-shadow:
		-0.5px -0.5px 0 #000,
		0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
}

.filter-products-button-expanded {
    padding-left: 5px;
    border-bottom: 1px solid #fff;
    height: 520px;
    width: 44%;
    overflow: hidden;
    transition: height ease-in-out 300ms;
    -webkit-tap-highlight-color: transparent;
}

.filter-container button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;  
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 50px;
    padding-right: 100px;
    color: #fff;
    background: #447AB9;
}

.filter-container div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
}