* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    z-index: 999;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #325886;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.navbar-links li:hover {
    background-color: #82A7D6;
}


.cannabis {
    width: 45px;
    height: 45px;
    left: 10px;
    top: 20px;
}

.title {
    font-family: 'Overseer';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    margin: .5rem;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none
}

.logo-container:hover {
    background-color: #82A7D6;
}

.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor:pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 980px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }
}

@media (max-width: 420px) {
    .title {
        font-size: calc(38px * .8)
    }  
    .cannabis {
        width: calc(45px * .8);
        height: calc(45px * .8);
    }
    .toggle-button {
        width: calc(30px * .8);
        height: calc(21px * .8);
    }
}