.product-container-shop {
    margin: 1.4641288433382138vw 0 0 1.4641288433382138vw;
}

.product-shop {
    box-sizing: border-box;
    background: #FEEED4;
    width: 68.57142857142857vw;
    height: 71.42857142857143vw;
    border: 0.4761904761904762vw solid #000000;
    box-shadow: 0 0.9523809523809524vw 0.9523809523809524vw rgba(0, 0, 0, 0.25);
    border-radius: 1.1904761904761905vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* width: 74%;
    height: 74%; */
}
.product-shop img {
    width: 57.43589743589743vw;
    height: 61.53846153846154vw;
    align-self: center;
}
.product-shop .product-price {
    border: none;
    background: none;
    border-radius: none;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    color: #000000;
    align-self: center;
    margin: -7vw 0 0 49vw;
    font-size: 7.384615384615385vw;
}

.add-to-cart-text-shop {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    color: #ECEBE8;
    padding: 0.7320644216691069vw;
    font-size: 3.3vw;
}

.add-to-cart-shop {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background: #DDB724;
    border: 0.07320644216691069vw solid #000000;
    border-radius: 0.7320644216691069vw;
    border-radius: 0.36603221083455345vw;
    padding: 1vw;
    width: 22.5vw;
    height: 6.15vw;
}

.add-to-cart-shop:hover{
    background:#f2cd3e;
    cursor: pointer;
}

.add-to-cart-shop .cart-icon {
    width: 4.1vw;
    height: 4.1vw;
}