.product {
    box-sizing: border-box;
    background: #FEEED4;
    width: 360px;
    height: 375px;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.product img {
    width: 280px;
    height: 300px;
    align-self: center;
}

.add-to-cart {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 5px;
    width: 110px;
    height: 30px;
    background: #DDB724;
    border: 1px solid #000000;
    border-radius: 10px;
    border-radius: 5px;
}


.add-to-cart:hover{
    background:#f2cd3e;
    cursor: pointer;
}

.add-to-cart-text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #ECEBE8;
    padding: 10px;
}

.product-container {
    margin: 20px 0 0 20px;
}

.product .product-price {
    border: none;
    background: none;
    border-radius: none;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #000000;
    align-self: center;
    margin: -35px 0 0 200px;
}

@media (max-width: 500px) {
    .product {
        width: 288px;
        height: 300px;
    }
    .product img {
        width: 224px;
        height: 240px;
    }

    .product .product-price {
        font-size: 28.8px;
    }
    
    .add-to-cart-text {
        font-size: 13px;
        padding: 8px;
    }
    
    .add-to-cart {
        width: 88px;
        height: 24px;
        padding: 4px;
    }
}

@media (max-width: 310px) {
    .product {
        width: calc(288px * .65);
        height: calc(300px * .65)
    }
    .product img {
        width: calc(224px * .65);
        height: calc(240px * .65);
    }

    .product .product-price {
        font-size: calc(28.8px * .65);
        margin: -20px 0 0 130px;
    }
    
    .add-to-cart-text {
        font-size: calc(13px * .52);
        padding: calc(8px * .65);
    }
    
    .add-to-cart {
        width: calc(88px * .65);
        height: calc(24px * .65);
        padding: calc(4px * .65);
    }

    .product-container {
        margin: 10px 0 0 10px;
    }

    .cart-icon {
        width: 10px;
    }
}