.store-sidebar {
    grid-area: sidebar;
    background: #FCE8A4;
    align-items: center;
    justify-content: center;
    padding-top: 260px;
    padding-left: 29px;
    text-align: center;
    position: none;
    top: 0;
    height: 0vh;
    box-sizing: border-box;
    z-index: 1;
}

.store-sidebar-sticky {
    grid-area: sidebar;
    background: #FCE8A4;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-left: 29px;
    text-align: center;
    position: sticky;
    top: 0;
    height: 0vh;
    box-sizing: border-box;
}

.filter-products-container {
    background: #FEEED4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 85vh;
    width: 335px;
}

.filter-products-label {
    padding-top: 20px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #447AB9;
}

.filter-products-buttons {
    padding-left: 20px;
    padding-right: 20px;
}


.categories {
    display: flex;
    justify-content: center;
}

.category:hover {
    transform: scale(1.2);
}

.category {
    transition: all .2s ease-in-out;
    width: 30%;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.categories img {
    width: 65px;
    height: 65px;
}

.categories div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding-bottom: 4px;
}

@media (max-width: 1525px) {
    .filter-products-container {
        width: calc(335px * .9);
    }
    .filter-products-label {
        /* padding-top: 20px; */
        font-size: calc(32px * .9);
    }
    .store-sidebar {
        width: 90%;
    }
}

@media (max-width: 1080px) {
    .filter-products-container {
        width: calc(335px * .8);
    }
    .filter-products-label {
        font-size: calc(32px * .8);
    }
    .store-sidebar {
        width: 80%;
    }
}

@media (max-width: 880px) {
    .filter-products-container {
        width: calc(335px * .62);
    }
    .filter-products-label {
        font-size: calc(32px * .8);
    }
    .store-sidebar {
        width: 60%;
    }
}

@media (max-width: 525px) {
    .filter-products-container {
        width: calc(335px * .5);
    }
    .filter-products-label {
        font-size: calc(32px * .8);
    }
    .store-sidebar {
        width: 50%;
    }
}