.store-sidebar {
    grid-area: sidebar;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: none;
    top: 0;
    height: 0vh;
    box-sizing: border-box;
    z-index: 1;
}

.filter-products-container {
    background: #447AB9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 485px;
    width: 340px;
}

.filter-products-label {
    padding-top: 10px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

.filter-products-buttons {
    padding-left: 20px;
    padding-right: 20px;
}


.categories {
    display: flex;
    justify-content: center;
}

.category:hover {
    transform: scale(1.2);
}

.category {
    transition: all .2s ease-in-out;
    width: 30%;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.categories img {
    width: 65px;
    height: 65px;
}

.categories div {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding-bottom: 4px;
}