.privacy-policy-container > h1 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin: 2rem 0;
}

.privacy-policy-content {
    margin: 0.75rem;
}

.privacy-policy-content {
    font-family: 'Roboto';
    font-size: 20px;
}

.privacy-policy-content h1 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;
}

.privacy-policy-content p {
    padding: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
