.App {
  text-align: center;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.routes { 
  padding-top: 61px;
}

.copyright {
  padding-top: 3.65rem;
  text-align: center;
  background: #E9E4CA;
}