.App {
  text-align: center;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.routes { 
  padding-top: 61px;
}

.routes.home {
  padding-top: 0;
}

@media (max-width: 980px) {
  .copyright {
    padding-top: 3.65rem;
    text-align: center;
    background: #E9E4CA;
  }
}