body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Overseer';
  src: url('./fonts/Overseer.otf');
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/Futura\ Bold\ font.ttf');
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/Futura-CondensedLight.otf');
}

@font-face {
  font-family: 'Southern Aire Personal Use Only';
  src: url('./fonts/SouthernAire_Personal_Use_Only.ttf')
}
