body {
  margin: 0;
  font-family: 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 900;
  font-size: 3em;
}


@font-face {
  font-family: 'Overseer';
  src: url('./fonts/Overseer.otf');
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/Futura\ Bold\ font.ttf');
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/Futura-CondensedLight.otf');
}

@font-face {
  font-family: 'Southern Aire Personal Use Only';
  src: url('./fonts/SouthernAire_Personal_Use_Only.ttf')
}
