.admin-login-container {
    background-color: #FEEED4;
    text-align: center;
    padding: 105px;
}

.admin-input {
    align-self: center;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.36);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 5px; 
    width: 193;
    height: 45;
}

.admin-login-labels {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    padding: 20px;
}

.admin-label {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    color: #000000;
}

.admin-login {
    align-self: center;
    margin-top: 50px;
    width: 126px;
    height: 40px;
    color: #ffffff;
    background: #DDB724;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    border: none;
}

.admin-login:hover {
    background:#f2cd3e;
    cursor: pointer;
}

.admin-dashboard-container {
    background-color: #F1F1F1;
}

.admin-dashboard-text {
   padding: 80px 0 20px 0; 
   text-align: center;
   font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}

.admin-buttons-container {
    display: flex;
}

.admin-button {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    background-color: #D9D9D9;
    padding: 10px 0 10px 0;
    width: 25%;
    border: none;
    cursor: pointer;
    color: black;
}

.admin-button:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selected {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

@media (max-width: 475px) {
    .admin-label {
        font-size: calc(128px * .4);
    }
}