.shop-container {
    min-height: 84vh;
}

.shop-container > div:first-child {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
}

.shop-container .filter-sort-search-container {
    width: 70%;
    margin: 1rem auto;
}

.shop-container .admin-page-results-container {
    color: #456649;
    border-color: #456649;
}

.shop-chakra-filters {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on iOS devices */
    margin-bottom: 0.75rem;
  }

.shop-chakra-filters::-webkit-scrollbar {
    display: none;
}

.chakra-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.chakra-filter img {
    width: 80px;
    height: 80px;
    margin: 0 3.2rem;
}

.chakra-filter span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
    margin-top: 0.5rem;
}

.shop-chakra-filters > .chakra-filter:first-child > span{
    color: #456649;
}

.shop-chakra-filters > .chakra-filter:nth-child(2) > span{
    color: #E60000;
}

.shop-chakra-filters > .chakra-filter:nth-child(3) > span{
    color: #FF9200;
}

.shop-chakra-filters > .chakra-filter:nth-child(4) > span{
    color: #FFD800;
}

.shop-chakra-filters > .chakra-filter:nth-child(5) > span{
    color: #8CBF00;
}

.shop-chakra-filters > .chakra-filter:nth-child(6) > span{
    color: #00B5DB;
}

.shop-chakra-filters > .chakra-filter:nth-child(7) > span{
    color: #00489C;
}

.shop-chakra-filters > .chakra-filter:last-child > span{
    color: #8F009C;
}