.recent-orders {
    background-color: #D9D9D9;
    width: 95%;
    height: 360px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    position: relative;
}

.recent-orders-div {
    text-align: center;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    text-align: left;
    padding-top: 10px;
}

.recent-orders-button {
    all: unset;
    position: absolute; /* Position the button absolutely */
    bottom: 5px; /* Align the bottom edge of the button with the bottom edge of the container */
    right: 5px; /* Align the right edge of the button with the right edge of the container */
    cursor: pointer;
    background: #F1F1F1;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
}

.recent-orders-button:hover {
    background: #b7b6b6;
}