.add-product-btn-container {
    position: relative;
    padding-bottom: 30px;
}

.add-product-btn {
    background: #D9D9D9;
    border: 1px solid #000000;
    color: black;
    border-radius: 1px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    transition: all .1s ease-in-out; 
}

.add-product-btn:hover {
    background: #b7b6b6;
}